.lockscreen(style='height: 100%;')
  #login-box.form-box
    span.pull-right.image(style='margin: 15px 20px; float: left;')
      img.img-circle(gravatar-src='credentials.email',
      gravatar-size='50',
      alt='User Image')
    span.image(style='margin: 15px 15px; float: left;')
      img.img-circle(src='/images/waveicon38.png' height='46' width='46')
    .header(translate, style='text-align: center;')
      |Datawake Depot
    form(role='form', ng-submit='login()', method='post')
      .body.bg-gray
        .callout.callout-danger(ng-if='loginError')
          p {{loginError.message | translate}}
        auto-fields(fields='schema', data='credentials', options='options')
      .footer.bg-gray
        button.btn.bg-light-blue.btn-block(translate, type='submit')
          |Sign In
        a.btn.bg-olive.btn-block(translate, href='#/register')
          |Or Register
        a.btn.btn-block(class='btn-{{provider.class}}',
        ng-hide='provider.link',
        ng-click='socialLogin(provider)',
        ng-repeat='provider in authProviders') {{provider.provider | ucfirst}}
      a.btn.btn-info.btn-lg.btn-block.animate-if(translate,style="margin-top: 10px",
      ng-if="showDownloadPluginButton",
      ng-click='getPlugin()',
      href="/xpi/datawakePlugin.xpi")
        span.glyphicon.glyphicon-download-alt(style="margin-right: 10px")
        span Get Datawake Plugin!
