div(id='widgetOne')
    link(rel="stylesheet" type="text/css" href="js/font-awesome-4.5.0/css/font-awesome.min.css")
    div
        table.DWD_table_extracted
            tr
                th.DWD_th(colspan="3")
                    button(onclick='refreshSidebar()')
                        i.fa.fa-refresh
                    span &nbsp;Extracted Entities
            tr
                th.DWD_th_ext1 Value
                th.DWD_th_ext2 #
                th.DWD_th_ext3 Types

            tbody
                each entity, i in extractedEntities
                    tr.DWD_tr
                        td.DWD_td_small
                            div.DWD_div.DWD_div_col1
                                a(title='add as Domain Item' href='' onclick='return addDomainObject({"dwItem":{"type":"domainItem","id":"#{entity.id}","value":"#{entity.value}","extractorId":"#{entity.extractor}"}})') #{entity.value}
                        td.DWD_td_small
                            div.DWD_div.DWD_div_col2 #{entity.occurrences}
                        td.DWD_td_small
                            each type in entity.extractorTypes
                                div.DWD_div.DWD_div_col3
                                    a(title='add as Domain Type' href='' onclick='return addDomainObject({"dwItem":{"type":"domainType","value":"#{type}","extractorId":"#{entity.extractor}"}})') #{type}
